@{
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bad Request</title>
</head>
<body>
    <h1 class="text-danger">Woops. It is a bad request</h1>
</body>
</html>
